@font-face {
    font-family: "nice font";
    src: url(./MetalMania.ttf);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.section-1{
    background-color: #333;
    color: #fff;
    height: 100vh;
display: flex;
align-items: center;
justify-content: center;
gap: 3rem;
}
.card{
    height: 30rem;
    width: 20rem;
    position: relative;
    
}
.card-side{
    border: 1px solid #fff;
    height: 30rem;
    width: 20rem;
    border-radius: 20px;
    box-shadow:  0 0 10px #222;
    p
}